swagger: "2.0"
info:
  title: FoundaMl
  description: ''
  termsOfService: ''
  contact:
    name: ''
    url: ''
    email: sauray.antoine@gmail.com
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  version: 0.0.1
host: "echo-api.endpoints.foundaml.cloud.goog"
securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query
paths:
  /features:
    get:
      operationId: getFeaturesConfiguration
      security: 
        - api_key: []
      description: ''
      responses:
        '200':
          description: ''
          schema:
            type: array
            $ref: '#/definitions/FeaturesConfiguration'
  /labels:
    get:
      operationId: getLabelsConfiguration
      security: 
        - api_key: []
      description: ''
      responses:
        '200':
          description: ''
          schema:
            type: array
            $ref: '#/definitions/LabelsConfiguration'
definitions:
  Project:
    type: object
    required:
      - id

  FeaturesConfiguration:
    type: object
    required:
      - id
      - data
    properties:
      id:
        type: string
      data:
        type: array
        items:
          type: object
          required:
            - name
            - type
            - description
          properties:
            name:
              type: string
            type:
              type: string
            description:
              type: string
  LabelsConfiguration:
    type: object
    required:
      - id
      - data
    properties:
      id:
        type: string
      data:
        type: array
        items:
          type: object
          required:
            - name
            - type
            - description
          properties:
            name:
              type: string
            type:
              type: string
            description:
              type: string
